appdirs==1.4.3
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
contextlib2==0.6.0.post1
cssselect==1.1.0
distlib==0.3.0
dnspython==1.16.0
easygui==0.98.1
enum34==1.1.10
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.0.12
future==0.18.2
idna==2.9
importlib-metadata==1.6.0
importlib-resources==1.4.0
ipaddr==2.2.0
ipwhois==0.10.3
jdcal==1.4.1
Jinja2==2.11.3
keyboard==0.13.5
lxml==4.5.0
MarkupSafe==1.1.1
numpy==1.16.6
openpyxl==2.6.4
pandas==0.24.2
parse==1.15.0
pathlib2==2.3.5
pipenv==2018.11.26
pyfiglet==0.8.post1
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
requests-html==0.2.2
scandir==1.10.0
selenium==3.141.0
singledispatch==3.4.0.3
six==1.14.0
soupsieve==1.9.5
typing==3.7.4.1
urllib3==1.25.8
virtualenv==20.0.18
virtualenv-clone==0.5.4
xlrd==1.2.0
zipp==1.2.0